<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnlineUsername" value="" />
    <add key="OnlinePassword" value="" />
    <add key="OnlineCrmUrl" value="https://" />
    <!--<add key="OnlineUsername" value="admin@CRM877282.onmicrosoft.com" />
    <add key="OnlinePassword" value="" />
    <add key="OnlineCrmUrl" value="https://orgcdd52bae.crm.dynamics.com/main.aspx" />-->
    <!--<add key="OnlineCrmUrl" value="https://orgcdd52bae.crm.dynamics.com/main.aspx?appid=da409e78-a99c-eb11-b1ac-0022480410d4" />-->
    <add key="MfaSecretKey" value="" />
    <add key="AzureKey" value="ff864aad-8812-492d-a765-24064991cfc2" />
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome" />
    <add key="DriversPath" value="" />
    <add key="UsePrivateMode" value="true" />
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome" />
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
</configuration>